.header{
    background-color: #F6F6F7;
    height: 30px;
}

.header_Cart{
    height: 30px;
    float: right;
    margin-right: 10rem;
    color: #888888;
    font-family: 'open sans';
    font-size: 0.5rem;
    line-height: 25px;
    padding: 2px 5px;
}

.header_Cart:hover{
    cursor: pointer;
}

.active{
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 1px 4px;
    border-bottom: 1px solid white;
    position: relative;
    z-index: 10;
}

.row, .col-md-12, .col-md-3{
    margin: 0 !important;
    padding: 0 !important;
}

.header_dropdown{
    width: 18rem;
    border: 1px solid #CCCCCC;
    margin-top: -1px !important;
    position: absolute;
    right: 10rem;
    background-color: white;
    z-index: 5;
}

@media (max-width: 768px) {
    .header{
        margin:0;
    }
    .header_Cart{
        margin-right: 2rem;
    }
    .header_dropdown{
        margin-right: 2rem;
        right: 0;
    }
}
